#titulo{
    color: white;
}
#titulo2{
    color: rgb(189, 189, 189);
}
#box{
    /* background-color: red; */
}
#dia{
    position: relative;
    /* background-color: green; */
    width: 200px;
    height: 180px;
    

}
#mes{
    /* color: grey;
    font-size: 110px;
    margin-bottom: 0%; */
    position: relative;
    /* background-color: rgb(0, 124, 128); */
    width: 260px;
    height: 50px;
}
#ano{
    /* color: grey;
    font-size: 110px;
    margin-bottom: 0%; */
    position: absolute;
    /* background-color: rgb(38, 0, 128); */
    width: 60px;
    height: 180px;
    top: 0px;
    left: 215px;
    padding: 10px;
}
#dia p{
    color: #5AED83;
    font-size: 200px;
    position: relative;
    width: 200px;
    height: 200px;
    top: -56px;
    left: -35px;
    text-shadow: 
    -1px -1px 0px #266638, 
    -1px 1px 0px #266638,                    
     1px -1px 0px #266638,                  
     1px 0px 0px #266638;

}
#ano p{
    color: #266638;

    writing-mode: vertical-rl;
    font-size: 70px;
    position: relative;
    width: 50px;
    height: 200px;
    top: 0px;
    left: -50px;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0px rgb(0, 0, 0), 
    -1px 1px 0px rgb(0, 0, 0),                    
     1px -1px 0px rgb(0, 0, 0),                  
     1px 0px 0px rgb(0, 0, 0);
}
#mes p{
    color: #9ff7b8;

    position: relative;
    font-size: 60px;
    top: -20px;
    
}
#horario{
    color:white;
    font-size: 20px;
}
#logo{
    width: 50px;
}
